@import "../../styles/variables";

.profilepage-content {
  margin-top: 100px; //half of profile avatar height
  .pofile-picture {
    padding: 2rem 0;

    h4 {
      color: $secondary-color-1;
    }

    span {
      color: $paragraph-text;
    }
  }
}

/* Tablet Support */

@media (max-width: 899px) {
  .homepage-content {
    display: flex;
    flex-direction: column !important;

    .left-sidebar {
      max-height: 280px;
      margin-bottom: 2rem !important;

      .single-user-profile {
        display: none;
      }
    }
  }
}

/* Tablet Support */

@media (max-width: 899px) {
  
}

/* Mobile Support */
@media (max-width: 576px) {
  
}
